.has-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  min-height: var(--header-height);
  padding: var(--page-padding);
  background-color: var(--primary-bg-col);
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
}

.App-content {
  align-items: unset;
  padding: var(--page-padding);
  padding-top: calc(var(--page-padding) + 2rem);
  min-height: calc(100vh - var(--header-height));
}

.App-content form {
  max-width: 350px;
  width: 100%;
}

.App-content button {
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  min-height: 60px;
  color: white;
  background-color: var(--primary-bg-col);
}

.App-content button:hover {
  opacity: 0.8;
}
