@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --page-padding: 2rem;
  --header-height: calc(100vh / 3.5);
  --primary-bg-col: #00AFD1;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
